<main>
    <div class="main">
        <div class="burgers">
            <div class="option">
                <img src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/30/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-266-ash-grey_16.jpg" class="rounded" />
                <div class="description">
                <h3>Burger Cheese</h3>
                    <div class="additionalText">
                        classic + cheddar
                    </div>
                </div>
            <mat-icon>add</mat-icon>
            </div>
            <div class="option">
                <img src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/30/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-266-ash-grey_16.jpg" class="rounded" />
                <div class="description">
                <h3>Burger BBQ</h3>
                    <div class="additionalText">
                        classic + bekon, sos BBQ
                    </div>
                </div>
            <mat-icon>add</mat-icon>
            </div>
            <div class="option">
                <img src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/30/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-266-ash-grey_16.jpg" class="rounded" />
                <div class="description">
                <h3>Burger Tropical</h3>
                    <div class="additionalText">
                        classic + cheddar + frillowany ananas
                    </div>
                </div>
            <mat-icon>add</mat-icon>
            </div>
        </div>
        <div class="pasta">
            <div class="option">
                <img src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/30/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-266-ash-grey_16.jpg" class="rounded" />
                <div class="description">
                <h3>Pasta Pepperoni</h3>
                    <div class="additionalText">
                        pepperoni, sos pomidorowy, papryczki jalapeno
                    </div>
                </div>
            <mat-icon>add</mat-icon>
            </div>
            <div class="option">
                <img src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/30/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-266-ash-grey_16.jpg" class="rounded" />
                <div class="description">
                <h3>Pasta La Cotta</h3>
                    <div class="additionalText">
                        pomidorki cherry, pomidor świeży, papryczki chilli
                    </div>
                </div>
            <mat-icon>add</mat-icon>
            </div>
            <div class="option">
                <img src="https://dyrdkqpaj50j2.cloudfront.net/media/catalog/product/cache/30/image/9df78eab33525d08d6e5fb8d27136e95/g/s/gsc-266-ash-grey_16.jpg" class="rounded" />
                <div class="description">
                <h3>Pasta Gamberetti</h3>
                    <div class="additionalText">
                        krewetki tygrysie, sos śmietanowy, cukinia, papryczki chilli
                    </div>
                </div>
            <mat-icon>add</mat-icon>
            </div>
        </div>
    </div>
</main>