<div class="wrapper">
    <app-header></app-header>
    <mat-divider></mat-divider>
    <div class="main">
        <div class="menuColumn">
            <button mat-button class="menu-button">
                <mat-icon>menu</mat-icon>
                Menu
            </button>
            <app-burgers></app-burgers>
        </div>
        <div class="cartColumn">
            <button mat-button class="card-button">
                <mat-icon>shopping_cart</mat-icon>
                Card
            </button>
        </div>
    </div>
</div>